/* Encabezados */
.table-container .tabulator .tabulator-col {
    background-color: #FFFFFF; /* Amarillo dorado */
    color: #212121; /* Texto negro */
    font-weight: bold;
    border: #F8C537;
    text-align: center;
}

/* Filas */
.table-container .tabulator .tabulator-row {
    background-color: #E0E8FF; /* Amarillo pálido */
    color: #212121; /* Texto negro */
    border-bottom: 1px solid #F8C537; /* Gris claro */
}

.table-container .tabulator .tabulator-row:nth-child(even) {
    background-color: #FFF8E1; /* Amarillo más suave */
}

.table-container .tabulator .tabulator-row:hover {
    background-color: #92ecd7; /* Naranja cálido */
    color: #FFFFFF; /* Texto blanco */
}

/* Celdas */
.table-container .tabulator .tabulator-cell {
    border: none;
    text-align: center;
}

/* Pie de tabla */
.tabulator .tabulator-footer {
    background-color: #FFFFFF; /* Amarillo dorado */
    color: #212121; /* Texto negro */
    border-top: 2px solid #F8C537; /* Amarillo más oscuro */
}

/* Paginación */
.tabulator .tabulator-footer .tabulator-page {
    background-color: #FFD54F; /* Amarillo claro */
    color: #212121; /* Texto negro */
    border-radius: 4px;
    padding: 4px 8px;
    font-weight: bold;
    margin: 2px;
}

.tabulator .tabulator-footer .tabulator-page.active {
    background-color: #FFA000; /* Amarillo oscuro */
    color: #FFFFFF; /* Texto blanco */
}

/* Búsqueda y filtros */
.table-container .tabulator-header {
    background-color: #FFC107; /* Amarillo dorado */
    color: #212121; /* Texto negro */
    font-weight: bold;
}

/* Diseño general */
.table-container {
    font-family: 'Arial', sans-serif; /* Tipografía limpia */
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden; /* Evita desbordes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}
